html,body{
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center; 
}
p{
  font-size: 4vw;
  display: flex;
  margin: auto 50px;
  color: #e99c16;
  border: 1px solid gold;
  border-style: dotted;
  border-radius: 10px;
  border-width: 3px;
  padding: 30px;
}
img{
  width: 800px;
        height: 500px;

        object-fit: none;
        object-position: right bottom;
}
